# DYPIU Portal Environment Variables

# Portal Target URLs (Defaults provided if unset)
VITE_FACULTY_ADMIN_PORTAL_URL=https://pbas.dypiu.ac.in/panel/
VITE_FACULTY_PORTAL_URL=https://pbas.dypiu.ac.in/login
VITE_SCHOOL_PORTAL_URL=https://pbas.dypiu.ac.in/AAA/login
